@charset "UTF-8";
/* CSS Document */
/*
Name: Empty Boilerplate
Author: dave dechant
Description: Empty boilerplate for website
*/
/* Table of Contents */
/* 1. SASS Variables */
/*- 1a. Colors -*/
/*- 1b. Fonts -*/
/* 2. Reset/Base Styles */
/*- 2a. Reset -*/
/*- 2b. Responsive Images -*/
/*- 2c. Text -*/
/* Module/Universal Styles */
/* Website/Product Specific Styles */
/* Responsive/Media Query Styles */
/*---------------------------------------------------------------------*/
/* 1. SASS Variables */
/*- 1a. Colors -*/
/* brand highlight */
/* base primary */
/* base secondary */
/* base accent */
/* support: information */
/* support: success */
/* support: error */
/* support: warning */
/* grayscale */
/*- 1b. Fonts -*/
@font-face {
  font-family: "UHC Sans Regular";
  src: url("../uhc-fonts/uhcsans-regular.woff2") format("woff2"), url("../uhc-fonts/uhcsans-regular.woff") format("woff"), url("../uhc-fonts/uhcsans-regular.ttf") format("truetype"); }

@font-face {
  font-family: "UHC Sans Bold";
  src: url("../uhc-fonts/uhcsans-bold.woff2") format("woff2"), url("../uhc-fonts/uhcsans-bold.woff") format("woff"), url("../uhc-fonts/uhcsans-bold.ttf") format("truetype"); }

/* End SASS Variables */
/*---------------------------------------------------------------------*/
/* 2. Begin Reset/Base Styles */
/*- 2a. Reset -*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: 0; }

html {
  scroll-behavior: smooth; }

body {
  line-height: 1;
  color: #000000;
  background: #F5F5F5;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

main, section, nav, article, aside, header, footer {
  display: block; }

/*- 2b. Responsive Images -*/
img {
  max-width: 100%;
  height: auto; }

/*- 2c. Text -*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-family: "UHC Sans Regular", sans-serif;
  color: #000000; }

h1 {
  font-size: 2.125rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

p, ul, ol, blockquote, cite, small {
  margin: 0 0 25px;
  font-family: "UHC Sans Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000; }

ul, ol {
  margin-left: 20px; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

hr {
  border: 0;
  border-bottom: 1px solid #E0E0E0;
  background: none;
  width: 100%;
  margin: 1.25rem 0; }

blockquote {
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0;
  margin: 40px 0;
  font-size: 1.313rem; }

cite {
  font-size: .688rem;
  display: block;
  margin: 10px 0 0;
  color: #BDBDBD; }

small {
  font-size: .875rem; }

strong {
  font-family: "UHC Sans Bold", sans-serif; }

a, a:visited {
  color: #196FD0;
  text-decoration: none;
  font-family: "UHC Sans Regular", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a:hover {
  color: #033DA1;
  text-decoration: none; }

/* End Reset/Base Styles */
/*---------------------------------------------------------------------*/
/* Begin Website/Product Specific Styles */
/*--- Wrapper/Fixed Width Container ---*/
.wrapper {
  width: 1126px;
  margin: 0 auto; }

/*--- Header Styles ---*/
/*-- Header Container --*/
.dpl-header {
  position: relative;
  z-index: 9999;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
  margin-bottom: 5rem;
  position: fixed;
  width: 100%;
  top: 0; }

/*-- Account Level Navigation --*/
.dpl-account-nav {
  padding: 0.5rem 0;
  border-bottom: 1px solid #E0E0E0;
  text-align: right; }

.smaller .dpl-account-nav {
  padding: 0.25rem 0; }

.dpl-account-nav a:first-of-type {
  margin-right: 1.25rem; }

.dpl-account-nav a:last-of-type {
  margin-left: 1.25rem; }

.dpl-account-nav .fas:first-of-type {
  padding-right: 0.313rem; }

.dpl-account-nav .fas:last-of-type {
  padding-left: 0.313rem; }

.dpl-account-nav a {
  font-family: "UHC Sans Regular", sans-serif;
  font-size: 0.875rem;
  text-decoration: none; }

.smaller .dpl-account-nav a {
  font-size: 0.75rem; }

/*-- Product Level Navigation/Options --*/
.dpl-header-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0; }

.smaller .dpl-header-options {
  padding: 0.375rem 0; }

.dpl-logo {
  margin: 0;
  text-indent: -9999px;
  width: 237px;
  height: 36px;
  background-image: url(../images/uhc-link-logo.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%; }

.smaller .dpl-logo {
  width: 190px;
  height: 30px; }

.dpl-header-selectors {
  display: flex;
  align-items: center; }

.dpl-header-selector {
  font-size: 0.875rem;
  font-family: "UHC Sans Bold", sans-serif;
  font-weight: bold;
  line-height: 1.125rem;
  text-decoration: none;
  position: relative;
  padding-right: 4rem;
  margin-right: 1rem;
  border-right: 1px solid #E0E0E0; }

.dpl-header-selector:last-of-type {
  margin: 0;
  border: 0; }

.dpl-header-selector span {
  color: #616161;
  font-family: "UHC Sans Regular", sans-serif;
  display: block; }

.smaller .dpl-header-selector span {
  display: inline; }

.dpl-header-selector .fas {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  right: 0.875rem;
  transform: translate(0, -50%); }

.dpl-header-selector:last-of-type .fas {
  right: 0; }

/*-- Main Menu Navigation --*/
.dpl-main-nav {
  background-color: #033DA1; }

.dpl-main-nav-list {
  display: flex;
  margin: 0; }

.dpl-main-nav-list li {
  list-style-type: none;
  font-size: 0.938rem;
  font-family: "UHC Sans Bold", sans-serif;
  text-transform: uppercase;
  margin-right: 1.75rem; }

.smaller .dpl-main-nav-list li {
  font-size: 0.875rem; }

.dpl-main-nav-list li a {
  color: #FFFFFF;
  padding: 0.625rem;
  display: block;
  text-decoration: none;
  font-family: "UHC Sans Bold", sans-serif; }

.dpl-main-nav-list li.active a {
  background-color: #305fc3; }

.smaller .dpl-main-nav-list li a {
  color: #FFFFFF;
  padding: 0.25rem 0;
  display: block;
  text-decoration: none; }

/*-- Screen Level Navigation --*/
.dpl-breadcrumbs {
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem 0; }

.smaller .dpl-breadcrumbs {
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0; }

.dpl-breadcrumbs-list {
  display: flex;
  margin: 0; }

.dpl-breadcrumbs-list li {
  list-style-type: none;
  font-size: 0.75rem; }

.dpl-breadcrumbs-list li:after {
  font-family: 'Font Awesome 5 Pro';
  font-weight: bold;
  content: "\f0da";
  padding: 0 1rem;
  color: #E0E0E0; }

.dpl-breadcrumbs-list li:last-child:after {
  display: none; }

.dpl-breadcrumbs-list li a {
  text-decoration: none;
  font-family: "UHC Sans Regular", sans-serif; }

/*-- Insights/Options Header --*/
.dpl-insights-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.688rem 0; }

.smaller .dpl-insights-header {
  padding: 0.375rem 0; }

.dpl-insights-header-back {
  width: 34px;
  height: 34px;
  font-size: 1.875rem;
  border: 1px solid #196FD0;
  text-align: center;
  border-radius: 50%;
  display: block;
  position: relative;
  margin-right: 0.75rem; }

.dpl-insights-header-back .fas {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(0, -50%); }

.dpl-insights-details {
  display: flex;
  align-items: flex-end;
  margin: 0; }

.dpl-insights-details li {
  list-style-type: none; }

.smaller .dpl-insights-details li {
  font-size: 0.875rem; }

.dpl-insights-details li:after {
  content: "•";
  padding: 0 0.5rem;
  color: #033DA1;
  font-size: 1rem; }

.dpl-insights-details li:last-child:after {
  display: none; }

.dpl-insights-details li:first-child {
  font-size: 0.875rem;
  margin: 0;
  color: #616161; }

.dpl-insights-details li:first-child span {
  font-size: 1.75rem;
  font-family: "UHC Sans Bold", sans-serif;
  margin-right: 0.5rem;
  color: #000000; }

.smaller .dpl-insights-details li:first-child span {
  font-size: 0.875rem; }

.smaller .remove {
  display: none; }

.dpl-insights-details li:first-child .claim-patient-name {
  font-size: 1rem;
  color: #000000; }

.dpl-insights-details li:first-child .claim-patient-name a {
  font-family: "UHC Sans Bold", sans-serif; }

.smaller .dpl-insights-details li:first-child .claim-patient-name {
  font-size: 0.875rem; }

.smaller .dpl-insights-options .dpl-button, .smaller .dpl-insights-options .dpl-button-ghost, .smaller .dpl-insights-options .dpl-button-inactive {
  padding: 0.375rem 0.875rem;
  font-size: 0.813rem; }

.dpl-insights-status {
  display: flex;
  justify-content: space-between;
  padding: 0.375rem 0; }

.smaller .dpl-insights-status {
  padding: 0.125rem 0; }

.dpl-insights-status .dpl-notification-error, .dpl-insights-status .dpl-notification-success, .dpl-insights-status .dpl-notification-warning {
  flex-grow: 3; }

.dpl-insights-status .dpl-notification-success {
  flex-grow: 1; }

.dpl-insights-status .dpl-notification-warning {
  margin-right: 0.5rem; }

/*-- Screen Jump Menu Navigation/Options --*/
.dpl-jump-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.5rem; }

.dpl-jump-menu-list {
  display: flex;
  margin: 0; }

.dpl-jump-menu-list li {
  list-style-type: none; }

.smaller .dpl-jump-menu-list li {
  font-size: 0.875rem; }

.dpl-jump-menu-list li:after {
  content: "|";
  padding: 0 0.75rem;
  color: #033DA1;
  font-size: 1rem;
  color: #000000; }

.smaller .dpl-jump-menu-list li:after {
  padding: 0 0.375rem; }

.dpl-jump-menu-list li:last-child:after {
  color: #FFFFFF; }

.dpl-jump-menu-list li a {
  font-family: "UHC Sans Regular", sans-serif;
  padding-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 5px solid #FFFFFF; }

.smaller .dpl-jump-menu-list li a {
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #FFFFFF; }

.dpl-jump-menu-list li a.active {
  color: #000000;
  border-bottom: 5px solid #196FD0; }

.smaller .dpl-jump-menu-list li a.active {
  border-bottom: 3px solid #196FD0; }

.dpl-jump-menu-cta {
  margin: 0 1.5rem 0 0;
  align-self: center;
  flex-grow: 1;
  text-align: right; }

.smaller .dpl-jump-menu-cta {
  font-size: 0.875rem; }

.dpl-jump-menu .dpl-button-inactive {
  margin-bottom: 0.375rem; }

.jumplink {
  width: 1px;
  height: 1px;
  display: block;
  position: absolute;
  top: -235px;
  left: 0; }

/*-- Content Container --*/
.main-content {
  margin-top: 350px; }

.main-content-notification {
  margin-top: 0; }

.main-content.no-jump-menu {
  margin-top: 330px; }

.main-content-top-sm {
  margin-top: 160px; }

/*-- Accordion Styles --*/
/*- Accordion Tab Styles -*/
.accordion_tab, .accordion_tab_table {
  position: relative;
  background: none;
  font-family: "UHC Sans Bold", sans-serif;
  font-size: 1.25rem;
  padding: 1rem 0.325rem;
  margin-bottom: 0.25rem;
  margin-top: 0.875rem;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border: 0;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.accordion_tab:before, .accordion_tab_table:before {
  position: absolute;
  content: "";
  top: 0;
  left: 5px;
  background-color: #E0E0E0;
  height: 3px;
  width: calc(100% - 10px); }

.accordion_tab:first-of-type, .accordion_tab_table:first-of-type {
  margin-top: 0; }

.accordion_tab:first-of-type:before, .accordion_tab_table:first-of-type:before {
  display: none; }

.accordion_tab.active, .accordion_tab_table.active {
  background: none; }

.accordion_tab:hover, .accordion_tab_table:hover {
  background: none; }

.accordion_tab .fas, .accordion_tab_table .fas, .accordion_tab .fal, .accordion_tab_table .fal {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 0.688rem;
  border-radius: 50%;
  color: #196FD0;
  width: 42px;
  height: 42px; }

.accordion_tab:after, .accordion_tab_table:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f107";
  font-size: 2rem;
  color: #196FD0;
  position: absolute;
  top: 50%;
  right: 5px;
  border: 1px solid #033DA1;
  background-color: #FFFFFF;
  padding: 0.125rem 0.625rem;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 50%;
  font-weight: 100; }

.accordion_tab.active:after, .accordion_tab_table.active:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f106"; }

/*- Accordion Content Styles -*/
.accordion_content, .accordion_content_table {
  padding: 0 5px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden; }

.fix-height {
  max-height: 2000px !important; }

/*- Accordion Table -*/
.accordion-table {
  display: block;
  grid-column-start: 1;
  grid-column-end: 3; }

.accordion_tab_table {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0; }

.accordion_tab_table:before {
  display: none; }

.accordion_content_table {
  padding: 0 1rem;
  background-color: #FAFAFA;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0; }

.accordion_content_table.white {
  background-color: #FFFFFF; }

.accordion_tab_table:after {
  font-size: 1.313rem;
  top: 50%;
  right: auto;
  left: 2rem;
  border: 0;
  background: none;
  padding: 0;
  border-radius: 0; }

.accordion-table-header {
  margin: 1rem 0 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-bottom: 1px solid #757575;
  color: #424242;
  display: inline-block; }

.accordion-table-copy {
  font-size: 0.875rem;
  margin: 0; }

.accordion-table-copy:last-child {
  margin: 0 0 1rem; }

/*-- Card/Tile Styles --*/
.dpl-card {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin: 5px 0; }

.dpl-card-header {
  background-color: #E0E0E0;
  padding: 0.688rem 1rem; }

.dpl-card-title {
  margin: 0;
  font-size: 1.25rem;
  font-family: "UHC Sans Bold", sans-serif; }

.dpl-card-body {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.dpl-card-body hr {
  grid-column-start: 1;
  grid-column-end: 3; }

.dpl-card-body p {
  line-height: 1.25rem; }

.dpl-card-body p span {
  font-family: "UHC Sans Bold", sans-serif; }

/*-- Card/Tile Claim Summary Styles --*/
.claim-summary-details {
  display: flex;
  justify-content: space-between; }

.claim-summary-footer {
  display: flex; }

.claim-summary-footer p {
  margin: 0;
  margin-right: 2rem; }

.claim-summary-status {
  display: flex;
  justify-content: space-between; }

.claim-summary-status .dpl-notification-error, .claim-summary-status .dpl-notification-success, .claim-summary-status .dpl-notification-warning {
  flex-grow: 1; }

.status-history {
  border-top: 3px solid #E0E0E0;
  border-bottom: 3px solid #E0E0E0;
  padding: 1rem 0;
  margin: 1rem 0; }

.status-history-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "UHC Sans Bold", sans-serif;
  margin: 0; }

.status-history-copy {
  font-size: 0.75rem;
  margin: 0; }

.history-timeline {
  position: relative;
  border-top: 4px solid #E0E0E0;
  height: 80px;
  margin-top: 40px; }

.history-timeline:before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 50%;
  height: 4px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#196fd0+0,d2341e+100 */
  background: #196fd0;
  /* Old browsers */
  background: -moz-linear-gradient(left, #196fd0 0%, #d2341e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #196fd0 0%, #d2341e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #196fd0 0%, #d2341e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196fd0', endColorstr='#d2341e',GradientType=1 );
  /* IE6-9 */ }

.history-timeline.warning:before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 50%;
  height: 4px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#196fd0+0,d29e35+100 */
  background: #196fd0;
  /* Old browsers */
  background: -moz-linear-gradient(left, #196fd0 0%, #d29e35 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #196fd0 0%, #d29e35 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #196fd0 0%, #d29e35 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196fd0', endColorstr='#d29e35',GradientType=1 );
  /* IE6-9 */ }

.history-timeline-item {
  position: absolute;
  top: -0.813rem;
  left: -2px;
  font-family: "UHC Sans Bold", sans-serif;
  font-size: 0.938rem; }

.history-timeline-item span {
  font-family: "UHC Sans Regular", sans-serif;
  font-size: 0.75rem;
  color: #616161; }

.history-timeline-item.two {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center; }

.history-timeline-item.three {
  position: absolute;
  left: auto;
  right: 0; }

.history-timeline-item .fas {
  font-size: 1.25rem;
  color: #196FD0;
  background-color: #FFFFFF; }

.history-timeline-item.two .fas {
  font-size: 1.25rem;
  color: #d2341e; }

.history-timeline-item.two.warning .fas {
  color: #d29e35; }

.history-timeline-item.three .fas {
  font-size: 1rem;
  color: #FFFFFF;
  border: 3px solid #E0E0E0;
  border-radius: 50%; }

/*-- Card/Tile Billing Styles --*/
.billing-summary .dpl-card-body {
  display: flex;
  justify-content: space-between; }

.billing-summary .dpl-card-body > div:nth-child(2) {
  text-align: right; }

.billing-summary .dpl-card-body p {
  margin-bottom: 1rem; }

.billing-summary .dpl-card-body p:nth-child(3) {
  margin-bottom: 2rem; }

.billing-summary .dpl-card-body p:nth-child(4) {
  margin-bottom: 0; }

/*-- Card/Tile Line Item Styles --*/
.line-items .dpl-card-body {
  grid-template-columns: 2fr 1fr; }

.line-items .dpl-card-body > div:nth-child(2) {
  text-align: right; }

/*-- DPL Notification Styles --*/
.dpl-notification-error, .dpl-notification-success, .dpl-notification-info, .dpl-notification-warning {
  border: 1px solid #E91B18;
  background-color: #FFE6F0;
  text-align: center;
  margin-right: 0.5rem;
  border-radius: 3px;
  padding: 0.188rem 0.5rem; }

.smaller .dpl-header .dpl-notification-error, .smaller .dpl-header .dpl-notification-success, .smaller .dpl-header .dpl-notification-info, .smaller .dpl-header .dpl-notification-warning {
  padding: 0 0.25rem; }

.dpl-notification-success {
  margin: 0;
  border: 1px solid #0D880B;
  background-color: #F4F8E7; }

.dpl-notification-info {
  margin: 0;
  border: 1px solid #346fc8;
  background-color: #f3fafc; }

.dpl-notification-warning {
  margin: 0;
  border: 1px solid #d29e35;
  background-color: #fffcdd; }

.dpl-notification-error p, .dpl-notification-success p, .dpl-notification-info p, .dpl-notification-warning p {
  margin: 0;
  font-size: 0.875rem; }

.notification-container {
  padding-top: 370px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.notification-container:target {
  visibility: hidden;
  opacity: 0;
  padding-top: 280px; }

.notification-container.error:target {
  visibility: hidden;
  opacity: 0;
  padding-top: 220px; }

.dpl-notification-box-warning, .dpl-notification-box-error {
  border: 1px solid #d29e35;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 3px;
  border-left: 10px solid #d29e35;
  position: relative;
  padding-left: 4.75rem; }

.dpl-notification-box-error {
  border: 1px solid #E91B18;
  border-left: 10px solid #E91B18; }

.dpl-notification-box-warning:before, .dpl-notification-box-error:before {
  font-family: 'Font Awesome 5 Pro';
  content: "\f071";
  font-weight: 800;
  color: #d29e35;
  font-size: 2.375rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%); }

.dpl-notification-box-error:before {
  color: #E91B18; }

.dpl-notification-box-warning .dpl-button, .dpl-notification-box-error .dpl-button {
  align-self: center; }

/*-- DPL Table Styles --*/
.table, .table-no-border {
  font-family: "UHC Sans Regular", sans-serif;
  border-collapse: collapse;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 1rem; }

tr {
  background-color: #FAFAFA; }

td, th {
  border: 1px solid #E0E0E0;
  text-align: left;
  padding: 1rem 0.813rem;
  font-size: 0.875rem;
  width: 13.8%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.table-no-border td, .table-no-border th {
  border: 0;
  text-align: left;
  padding: 1rem 0.813rem;
  font-size: 0.875rem;
  width: 13.8%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

th {
  border-top: 3px solid #E0E0E0;
  border-bottom: 3px solid #E0E0E0;
  font-family: "UHC Sans Bold", sans-serif;
  background-color: #F1FAFC;
  vertical-align: middle; }

.upload-table th {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0; }

td:first-child, th:first-child, td:nth-child(2), th:nth-child(2) {
  width: 6.5%;
  text-align: center; }

td:nth-child(3), th:nth-child(3) {
  width: 18%; }

td:first-child {
  text-indent: -9999px; }

td.td-form {
  padding: 0.375rem 0.813rem; }

.t-body-top td {
  border-top: 3px solid #E0E0E0; }

.accordion_tab_table.active td:first-child {
  border-bottom: 1px solid #FAFAFA; }

.accordion_tab_table.active .table.white td:first-child {
  border-bottom: 1px solid #FFFFFF; }

.t-break {
  background-color: #FFFFFF;
  border: 0;
  border-top: 3px solid #E0E0E0;
  font-family: "UHC Sans Bold", sans-serif;
  text-transform: uppercase;
  padding: 0.75rem;
  padding-left: 1.25rem; }

.t-break:first-child {
  width: 72%;
  text-align: left; }

.t-break:nth-child(2), td.t-break:nth-child(3) {
  text-align: left;
  width: 14%; }

.t-break:nth-child(3) {
  padding-left: 1rem; }

.t-break:first-child {
  text-align: left; }

.t-break:first-child, .default td:first-child {
  text-indent: 0; }

.default th, .default td {
  width: auto; }

.white tr {
  background-color: #FFFFFF; }

.upload-table {
  visibility: hidden;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.upload-table:target {
  visibility: visible;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* End Website/Product Specific Styles */
/*---------------------------------------------------------------------*/
/* Begin Module/Universal Styles */
/*-- DPL Font Styles --*/
.label-sm {
  font-size: 0.875rem;
  color: #757575; }

.text-xs {
  font-size: 0.75rem;
  line-height: 0.875rem; }

.text-sm {
  font-size: 0.875rem;
  line-height: 1.125rem; }

.text-md {
  font-size: 1.125rem;
  margin-bottom: 0.5rem; }

.text-lg {
  font-size: 1.375rem;
  margin-bottom: 0.5rem; }

.align-r {
  text-align: right; }

.align-c {
  text-align: center; }

.subtitle, .subtitle-full {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "UHC Sans Bold", sans-serif;
  text-decoration: underline;
  color: #616161; }

.subtitle-full {
  grid-column-start: 1;
  grid-column-end: 3; }

.fc-error {
  color: #E91B18; }

.fc-warning {
  color: #d29e35; }

.fc-base-accent {
  color: #196FD0; }

.icon-title {
  font-size: 2.125rem;
  text-align: center;
  padding: 0.75rem 0 0;
  margin-bottom: 0.25rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f3fafc;
  color: #196FD0; }

.link-underline {
  border-bottom: 2px solid #196FD0;
  font-family: "UHC Sans Bold", sans-serif; }

/*-- DPL Background Styles --*/
.bg-white {
  background-color: #FFFFFF; }

/*-- DPL Button Styles --*/
.dpl-button, .dpl-button-ghost, .dpl-button-full, .dpl-button-inactive, .dpl-button:visited, .dpl-button-ghost:visited, .dpl-button-full:visited, .dpl-button-inactive:visited {
  border: 1px solid #196FD0;
  color: #FFFFFF;
  background-color: #196FD0;
  font-family: "UHC Sans Bold", sans-serif;
  padding: 0.75rem 1rem;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }

.dpl-button:hover, .dpl-button-ghost:hover, .dpl-button-full:hover, .dpl-button-inactive:hover {
  color: #FFFFFF;
  background-color: #033DA1; }

.dpl-button-ghost, .dpl-button-ghost:visited {
  border: 1px solid #196FD0;
  color: #196FD0;
  background-color: #FFFFFF;
  font-family: "UHC Sans Bold", sans-serif; }

.dpl-button-ghost:hover {
  border: 1px solid #033DA1;
  color: #033DA1;
  background-color: #FFFFFF; }

.dpl-button-inactive, .dpl-button-inactive:visited, .dpl-button-inactive:hover {
  border: 1px solid #757575;
  color: #757575;
  background-color: #E0E0E0;
  font-family: "UHC Sans Bold", sans-serif; }

.dpl-button-full {
  width: 100%; }

.dpl-button-link, .dpl-button-link:visited {
  font-size: 0.938rem;
  font-family: "UHC Sans Regular", sans-serif;
  text-decoration: none; }

.button-w-text {
  padding-left: 3.25rem; }

.button-w-text p {
  margin: 0 0 0.25rem;
  font-size: 0.875rem;
  font-family: "UHC Sans Bold", sans-serif;
  color: #757575; }

.claim-button {
  min-width: 260px; }

/*-- DPL Layout Styles --*/
.content-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: stretch; }

.content-grid-2 {
  display: grid;
  grid-column-gap: 1rem;
  align-items: stretch;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr; }

.content-grid-2 .dpl-card:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3; }

.content-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: stretch; }

.content-grid-3 .dpl-card:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 3; }

.content-grid-4 {
  display: grid;
  grid-column-gap: 1rem;
  align-items: stretch;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr; }

.grid-full {
  grid-template-columns: 1fr; }

.d-flex {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-content: baseline; }

.d-flex-3 {
  grid-column-start: 1;
  grid-column-end: 3; }

.flex-item-r {
  flex-basis: auto;
  flex-grow: 1;
  text-align: right; }

.flex-item-l {
  flex-grow: 1;
  text-align: left; }

.button-bottom {
  margin-top: 1.75rem; }

.button-row {
  margin: 1.5rem 1rem;
  text-align: center; }

.button-row .dpl-button, .button-row .dpl-button-ghost {
  width: 28%;
  margin-right: 1rem; }

/*-- DPL Form Styles --*/
.form {
  grid-column-start: 1;
  grid-column-end: 3; }

.form-row-1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 0.875rem; }

.form-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 0.875rem; }

.form-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 0.875rem; }

.form-row-3-flex {
  display: flex; }

label {
  font-family: "UHC Sans Bold", sans-serif;
  margin: 0 0 0.25rem;
  display: block; }

input, select, textarea {
  border: 1px solid #BDBDBD;
  padding: 0.688rem;
  border-radius: 3px;
  width: 100%;
  font-size: 0.875rem;
  color: #616161; }

select {
  display: block;
  font-size: 0.875rem;
  font-family: "UHC Sans Bold", sans-serif;
  font-weight: #000000;
  color: #444;
  line-height: 1.3;
  padding: 0.625rem 0.688rem 0.688rem;
  max-width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFFFF;
  background-image: url(../images/down-arrow.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right 0.688rem top 50%, 0 0; }

textarea {
  min-height: 125px; }

.textarea-2 {
  min-height: 340px; }

.form-checkbox, .form-radio {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-family: "UHC Sans Regular", sans-serif; }

.form-checkbox input, .form-radio input {
  width: 20px;
  border: 3px solid #196FD0;
  padding: 0;
  border-radius: 0;
  width: 20px;
  height: 20px;
  font-size: 0.875rem;
  color: #616161;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative; }

.form-radio input {
  border-radius: 50%;
  width: 23px;
  height: 23px; }

.form-checkbox input:before, .form-radio input:before {
  font-family: 'Font Awesome 5 Pro';
  content: "\f00c";
  font-weight: 900;
  font-size: 0.625rem;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.form-radio input:before {
  content: "";
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  visibility: hidden; }

.form-checkbox input:checked, .form-radio input:checked {
  background-color: #196FD0; }

.form-radio input:checked:before {
  background-color: #196FD0;
  border: 2px solid #FFFFFF;
  visibility: visible; }

.form-checkbox span, .form-radio span {
  margin-left: 0.25rem; }

.file-upload-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px dashed #9E9E9E;
  padding: 1.75rem; }

.file-upload-container h3 {
  text-align: center;
  margin: 0; }

.file-upload-container h3 .fal {
  font-size: 3rem;
  color: #196FD0;
  margin-bottom: 0.5rem; }

.file-upload-container span {
  font-family: "UHC Sans Bold", sans-serif;
  font-size: 1.313rem; }

::placeholder {
  color: #9E9E9E;
  opacity: 1; }

:-ms-input-placeholder {
  color: #9E9E9E; }

::-ms-input-placeholder {
  color: #9E9E9E; }

.claim-dropdown {
  position: relative; }

.claim-dropdown-activator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.claim-dropdown-content {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #FFFFFF; }

.claim-dropdown-content:target {
  visibility: visible;
  opacity: 1; }

.claim-dropdown-content li {
  list-style-type: none;
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  color: #000000; }

.claim-dropdown-content li a, .claim-dropdown-content li a:visited {
  color: #000000; }

.claim-dropdown-content li.claim-dropdown-title {
  background-color: #f3fafc;
  text-transform: uppercase;
  font-family: "UHC Sans Bold", sans-serif;
  color: #757575; }

.claim-dropdown-content li .fa-check {
  float: right; }

.claim-dropdown-content li.claim-dropdown-input {
  border: 1px solid #9E9E9E;
  border-radius: 3px;
  padding: 0.5rem 0.625rem;
  color: #424242; }

.claim-dropdown-content li.claim-dropdown-input a {
  display: block; }

.claim-dropdown-content li.claim-dropdown-input .fas {
  float: right;
  font-size: 1.5rem; }

/*-- DPL Tab Styles --*/
.tab_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #E0E0E0;
  padding: 1rem; }

/*-- DPL Spacing Styles --*/
.d-block {
  display: block; }

.m-0 {
  margin: 0; }

.m-b {
  margin-bottom: 1rem; }

.m-t {
  margin-top: 1rem; }

.m-r {
  margin-right: 1rem; }

.p-0 {
  padding-right: 0;
  padding-left: 0; }

.p-none {
  padding: 0; }

.p-lr {
  padding: 0 1rem; }

.p-r {
  padding-right: 1rem; }

.p-b {
  padding-bottom: 1rem; }

/*-- DPL ToolTip Styles --*/
.dpl-tooltip-activator {
  position: relative; }

.dpl-tooltip, .dpl-tooltip-white, .dpl-tooltip-white-l, .dpl-tooltip-white-r, .dpl-tooltip-white-b {
  position: absolute;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.875rem;
  width: 160px;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: "UHC Sans Bold", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.dpl-tooltip-white, .dpl-tooltip-white-l, .dpl-tooltip-white-r, .dpl-tooltip-white-b {
  background-color: #FFFFFF;
  color: #000000;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }

.dpl-tooltip-white-l {
  top: 50%;
  bottom: auto;
  right: calc(100% + 7px);
  left: auto;
  transform: translate(0, -50%); }

.dpl-tooltip-white-r {
  top: 50%;
  bottom: auto;
  left: calc(100% + 7px);
  transform: translate(0, -50%); }

.dpl-tooltip-white-b {
  top: calc(100% + 7px);
  bottom: auto; }

.dpl-tooltip:after, .dpl-tooltip-white:after, .dpl-tooltip-white-l:after, .dpl-tooltip-white-r:after, .dpl-tooltip-white-b:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent; }

.dpl-tooltip-white:after {
  border-color: #FFFFFF transparent transparent transparent; }

.dpl-tooltip-white-l:after {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #FFFFFF; }

.dpl-tooltip-white-r:after {
  top: 50%;
  right: 100%;
  left: auto;
  transform: translate(0, -50%);
  border-width: 6px 6px 6px 0;
  border-color: transparent #FFFFFF transparent transparent; }

.dpl-tooltip-white-b:after {
  bottom: 100%;
  top: auto;
  left: 50%;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #FFFFFF transparent; }

.dpl-tooltip-activator:hover .dpl-tooltip, .dpl-tooltip-activator:hover .dpl-tooltip-white, .dpl-tooltip-activator:hover .dpl-tooltip-white-l, .dpl-tooltip-activator:hover .dpl-tooltip-white-r, .dpl-tooltip-activator:hover .dpl-tooltip-white-b {
  visibility: visible;
  opacity: 1; }

/*-- DPL Modal Styles --*/
.dpl-modal-overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0; }

.dpl-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  min-width: 770px; }

.modal-one:target, .modal-two:target, .modal-three:target {
  visibility: visible;
  opacity: 1; }

.modal-one .q-two, .modal-one .dpl-modal-footer {
  visibility: hidden;
  opacity: 0; }

.dpl-modal-header {
  padding: 1.25rem;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-between; }

.dpl-modal-title {
  font-size: 2.25rem;
  margin: 0; }

.dpl-modal-header .fal {
  font-size: 2.25rem; }

.dpl-modal-body {
  margin-bottom: 5rem;
  padding: 1.25rem; }

.dpl-modal-inputs, .dpl-modal-inputs-bottom {
  display: flex;
  margin: 0.75rem 0 0 1.5rem;
  position: relative; }

.dpl-modal-inputs .far, .dpl-modal-inputs-bottom .far {
  color: #196FD0;
  font-size: 1.5rem;
  vertical-align: -4px; }

.dpl-modal-inputs-bottom:before, .dpl-modal-inputs-bottom:after {
  content: "";
  position: absolute;
  top: -80px;
  left: 69px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #196FD0; }

.dpl-modal-inputs-bottom:after {
  top: 5px;
  left: 69px; }

.modal-two .dpl-modal-inputs-bottom:after {
  display: none; }

.dpl-modal-footer {
  border-top: 1px solid #E0E0E0;
  padding: 0.875rem 1.25rem;
  text-align: center; }

.dpl-modal-footer .dpl-button, .dpl-modal-footer .dpl-button-ghost, .dpl-modal-footer .dpl-button-inactive {
  min-width: 285px; }

/* End Module/Universal Styles */
/*---------------------------------------------------------------------*/
/* 7. Begin Responsive/Media Queries */
/* sm */
/* md */
/* lg */
/* xl */
/* End Responsive/Media Queries */
