@charset "UTF-8";
/* CSS Document */

/*
Name: Empty Boilerplate
Author: dave dechant
Description: Empty boilerplate for website
*/


/* Table of Contents */

/* 1. SASS Variables */
/*- 1a. Colors -*/
/*- 1b. Fonts -*/

/* 2. Reset/Base Styles */
/*- 2a. Reset -*/
/*- 2b. Responsive Images -*/
/*- 2c. Text -*/

/* Module/Universal Styles */

/* Website/Product Specific Styles */

/* Responsive/Media Query Styles */


/*---------------------------------------------------------------------*/


/* 1. SASS Variables */

/*- 1a. Colors -*/

/* brand highlight */

$brand-color: #1CB38F;
$brand-color-hover: #23D7AC;
$brand-color-active: #15866B;

/* base primary */

$base-primary-color: #2F3952;
$base-primary-color-hover: #52638C;
$base-primary-color-active: #151924;

/* base secondary */

$base-secondary-color: #64798B;
$base-secondary-color-hover: #90ACC5;
$base-secondary-color-active: #3B4752;

/* base accent */

$base-accent-color: #009EFF;
$base-accent-color-hover: #5EC1FD;
$base-accent-color-active: #0275BB;

/* support: information */

$information-color: #A5DFF9;
$information-color-hover: #D8F1FC;
$information-color-active: #62CBFA;

/* support: success */

$success-color: #58C9B9;
$success-color-hover: #93DFD4;
$success-color-active: #1FA995;

/* support: error */

$error-color: #E71D36;
$error-color-hover: #F95F72;
$error-color-active: #A70A1D;

/* support: warning */

$warning-color: #F9A825;
$warning-color-hover: #FDC56A;
$warning-color-active: #C37D0B;


/* grayscale */

$grayscale-0: #FFFFFF;
$grayscale-100: #FAFAFA;
$grayscale-200: #F5F5F5;
$grayscale-300: #EEEEEE;
$grayscale-400: #E0E0E0;
$grayscale-500: #BDBDBD;
$grayscale-600: #9E9E9E;
$grayscale-700: #757575;
$grayscale-800: #616161;
$grayscale-900: #424242;
$grayscale-1000: #000000;

/*- 1b. Fonts -*/

$brand-font: 'Poppins', sans-serif;
$base-font: 'Poppins', sans-serif;

/* End SASS Variables */


/*---------------------------------------------------------------------*/


/* 2. Begin Reset/Base Styles */

/*- 2a. Reset -*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

main, section, nav, article, aside, header, footer {
	display: block;	
}

/*- 2b. Responsive Images -*/

img {
	max-width: 100%;
	height: auto;
}

/*- 2c. Text -*/

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.375rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.75rem;
}

p, ul, ol, blockquote, cite, small {
	margin: 0 0 25px;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

ul, ol {
	margin-left: 20px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

hr {
	border: 0;
    background: none;
}

blockquote {
	padding: 20px 0;
	margin: 40px 0;
	font-size: 1.313rem;
}

cite {
	font-size: .688rem;
	display: block;
	margin: 10px 0 0;
}

small {
	font-size: .813rem;
}

/* End Reset/Base Styles */


/*---------------------------------------------------------------------*/


/* Begin Module/Universal Styles */

/* End Module/Universal Styles */


/*---------------------------------------------------------------------*/


/* Begin Website/Product Specific Styles */

#react-entry-point {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.carbon-calc-logo {
	border: 2px solid black;
	padding: 0.75rem 1.5rem;
	font-size: 2rem;
	font-weight: 800;
	margin: 3rem auto;
	color: black !important;
	position: relative;
	width: 484px;
}

.carbon-calc-logo::before, .carbon-calc-logo::after {
	content: "\f072";
	font-family: 'Font Awesome 5 Pro';
	font-size: 1.313rem;
	position: absolute;
	top: 50%;
	left: -14px;
	transform: translate(0,-50%);
	border: 3px solid white;
	background-color: white;
}

.carbon-calc-logo::after {
	content: "\f1ec";
	font-size: 1.313rem;
	left: auto;
	right: -13px;
}

.hero-title {
	color: black !important;
	font-size: 1.875rem;
	text-align: center !important;
	margin: 0 0 1.375rem;
}

.hero-copy {
	position: relative;
	margin: 0 0 25px;
	font-family: 'Poppins', sans-serif;
	font-size: 1.125rem;
	line-height: 1.75rem;
	text-align: center !important;
}

.hero-copy:after {
	display: block;
	content: "";
	width: 150px;
	height: 5px;
	background-color: black;
	margin: 2rem auto;
}

.project-details, .staffing-details {
	display: block !important;
	border-right: 1px dashed black;
	width: 50% ;
	padding-right: 2rem;
}

.project-details {
	padding-bottom: 1.5rem;
	border-bottom: 1px dashed black;
}

.staffing-details {
	padding-top: 1.5rem;
}

.section-title {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1.25rem;
}

.input-labels {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 0.313rem;
}

.user-parameter-input {
	width: 100%;
	border: 1px solid black;
	padding: 0.688rem;
	border-radius: 3px;
	margin: 0 0 1.25rem;
	font-size: 0.875rem;
	color: black;
	font-family: 'Poppins', sans-serif;
}

#destination_airport {
	
}

::-webkit-input-placeholder, .Select-placeholder {
  font-size: 0.875rem;
  color: gray;
  font-family: 'Poppins', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.875rem;
  color: gray;
  font-family: 'Poppins', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.875rem;
  color: gray;
  font-family: 'Poppins', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.875rem;
  color: gray;
  font-family: 'Poppins', sans-serif;
}

.calculate-button {
	display: block;
	width: 100%;
	border: 0;
	background-color: #0C62FB;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 1rem;
	color: white;
	border-radius: 3px;
	padding: 0.438rem 1rem;
}

.charts {
	width: 51%;
	position: absolute;
	top: 300px;
	right: 0;
}

.chart {
	display: block !important;
	width: 100% !important;
	text-align: center;
}

/* End Website/Product Specific Styles */


/*---------------------------------------------------------------------*/

/* 7. Begin Responsive/Media Queries */

/* sm */
@media (min-width: 576px) {


	
}

/* md */
@media (min-width: 768px) {



}

/* lg */
@media (min-width: 992px) {



}

/* xl */
@media (min-width: 1200px) {



}

/* End Responsive/Media Queries */